<!--  views/partials/footer.ejs starts here  -->
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>This site was built using Node.js, Express.js and EJS templates from w3Schools.<br> © 2021-2023 by Justin David, All Rights Reserved ~  </p>
</footer>

</body>
</html>