<%- include('../partials/header') %>
  
 <h1> <%=title%> </h1>
<div id ="anime-desc">
  <p class = "full"> <b> <u> Full Metal Alchemist </u> </b> </p>

    <p class = "my"> <b> <u> My Happy Marriage </u> </b> </p>

  <p class = "juju"> <b> <u> Jujutsu Kaisen  </u> </b> </p>

  <p class = "one"> <b> <u> One Piece  </u> </b> </p>

  <p class = "bleach"> <b> <u> Bleach </u> </b> </p>
</div>

<div id ="pictures">
  <img src="https://upload.wikimedia.org/wikipedia/en/9/9d/Fullmetal123.jpg" />
  <img src="https://m.media-amazon.com/images/I/51BF1ceDUzL.jpg" />
  <img src="https://m.media-amazon.com/images/I/71PBZJaSmAL._AC_UF1000,1000_QL80_.jpg" />
  <img src="https://m.media-amazon.com/images/I/71y+XnBXm4L._AC_UF1000,1000_QL80_.jpg" />
  <img src="https://m.media-amazon.com/images/I/61yopdZewhL._AC_UF1000,1000_QL80_.jpg" />
</div>

  
<%- include('../partials/footer') %>